@import "../less/variables.less";

.containersch {
    margin-right: auto;
    margin-left: auto;
	padding-right: 15px;
    padding-left: 15px;
	width: 100%;
	
	@media @sm {
		max-width: 540px;
	}
	
	@media @md {
		max-width: 720px;
	}
	
	@media @lg {
		max-width: 960px;
	}
	
	@media @xl {
		max-width: 1140px;
	}
	
	@media @full {
		max-width: 1300px;
	}
}

.scheduler-main {

	.-h1title {
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 4px;
		position: relative;
		text-transform: uppercase;

		@media @sm {
			font-size: 42px;
		}
	}

	.-titlecards {
		font-size: 22px;
		letter-spacing: 1px;
	}

	.-txtinput {
		font-size: 16px;
		margin-bottom: 4px;
	}

	.-smltxtdcr {
		display: block;
		font-style: italic;
		margin-top: 4px;
	}

	.-inputdefault {
		padding: 8px 10px;

		&::placeholder {
			font-size: 14px;
		}
	}

	.-buttonadd {
		width: 100%;

		@media @sm {
			width: 160px;
		}
	}

	.-btndefault {
		margin-top: 1.5rem;
		margin-left: 0;
		width: 100%;

		@media @sm {
			margin-top: 0;
			margin-left: 10px;
			width: 160px;
		}

		&:first-child {
			margin-top: 0;
			margin-left: 0;
		}
	}

	.-flexdirectioncards {
		display: flex;
		flex-direction: column-reverse;

		@media @lg {
			flex-direction: initial;
		}
	}

	.-listjobsqueue {
		text-align: center;

		.-itemjob {
			line-height: 1.4;
			margin-bottom: 15px;
	
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.-numbersecondjob {
			font-size: 16px;
			font-weight: 700;
		}
	
		.-numberjob {
			border: 1px solid;
			border-radius: 10px;
			font-size: 16px;
			font-weight: 700;
			padding: 2px 3px;
		}

		.-arrowjobicon {
			margin-right: 10px;
			transform: rotate(90deg);
		}
	
		.-minusarrowicon {
			margin: 0 10px;
		}
	}

	.-blocklistperson {
		margin: 20px auto;
		max-width: 215px;

		.-listghperson {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	
		.-itempersongit {
			margin-right: 10px;

			.-icongithub {
				font-size: 24px;
				-webkit-transition: .3s ease-out;
				transition: .3s ease-out;
			}
			
			&:last-child {
				margin-right: 0;
			}
	
			
			&:nth-child(1) .-icongithub {
				color: @c-cristian;

				&:hover {
					color: @c-cristian-hover;
				}
			}
			
			&:nth-child(2) .-icongithub {
				color: @c-giovani;

				&:hover {
					color: @c-giovani-hover;
				}
			}
			
			&:nth-child(3) .-icongithub {
				color: @c-leticia;

				&:hover {
					color: @c-leticia-hover;
				}
			}
		}
	}

	.-cardscheduler {
		height: 425px;
		overflow: auto;
		margin-bottom: 1.5rem;

		@media @sm {
			height: 300px;
		}

		.-subblockcard {
			align-items: flex-end;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@media @sm {
				flex-wrap: nowrap;
			}
		}

		.-inputblockseconds {
			flex: 1;
			max-width: 100%;
			margin-bottom: 1.5rem;

			
			@media @sm {
				max-width: 250px;
				margin-bottom: 0;
			}
			
			@media @lg {
				max-width: 163px;
			}
		}
	}

	.-schscroll::-webkit-scrollbar {
		width: 6px;
		cursor: pointer;
	}

	.-schscroll::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
	  }

}