body{
	font-family: 'Roboto', sans-serif;
}
.body-app{
    display: inline-flex;
    width: 100%;
}
.config-app{
	display: flex;
	width: 50%;
    justify-content: center;
}
.logs-app{
	width: 50%;
	border: 1px black solid;
}
.info-app{   
	display: flex;
    justify-content: center;
    width: 100%;
	align-items: center;
}
.buttons-app{
	position: absolute;
    margin-top: 50px;
}
.btn-start{
	padding: 7px 67px;
}
.table-logs{
	margin: 0px;
	padding: 0px;
}
.logs-app h1{
	text-align: center;
}
.table-logs li{
	font-size: 25px;
    list-style: none;
    margin-left: 70px;
}